.container {
  width: 1240px;
  margin: 0 auto;
}
button {
  font-size: 30px;
  color: white;
  background-color: #3163b3;
  border: 3px solid red;
  border-radius: 10px;
  width: 240px;
  height: 50px;
}
h1 {
  font-size: 60px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
h3 {
  font-size: 30px;
}
/* -----------------------------------------------------

-------------------------------------------------------
HEADER*/
header {
  background-color: #3163b3;
  padding: 10px;
  margin-bottom: 40px;
}
.displayraw {
  padding-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
}

.fiche {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
